repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.2
    hooks:
      - id: uv-lock
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd server/frontend && npm run lint'
        language: system
        files: ^server/frontend/.*\.(js|mjs|cjs|vue)$
        stages: [ pre-commit ]
