name: CI

on:
  push:
  pull_request:

jobs:
  python-tests:
    name: tox
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install tox
        run: uv tool install tox

      - name: Run tests
        run: uv run --extra=dev tox
        env:
          TOXENV: py312

  linting:
    name: linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Set up Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install frontend dependencies
        run: |
          cd server/frontend
          npm install

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit
        run: pre-commit run --all-files

  frontend-build:
    name: build frontend node 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: |
          cd server/frontend
          npm install

      - name: Run tests
        run: |
          cd server/frontend
          npm run test

      - name: Build production
        run: |
          cd server/frontend
          npm run production
